* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	min-height: 100%;
}

html {
	font-size: 62.5%;
}

body {
	font-family: Lato, sans-serif;
	font-size: 1.6rem;
	color: #dedede;
	background-color: #232323;
}

img {
	display: block;
	max-width: 100%;
}

a {
	text-decoration: inherit;
	color: inherit;

	&:hover {
		text-decoration: underline;
	}
}

a {
	text-decoration: inherit;
	color: inherit;

	&:hover {
		text-decoration: underline;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}